@using GovUK.Dfe.LocalSendReformPlans.Web.Utilities
@using GovUk.Frontend.AspNetCore.TagHelpers
@using Microsoft.AspNetCore.Html;

@model GovUK.Dfe.LocalSendReformPlans.Web.Services.FieldViewModel

@{
    var isRequired = Model.Field.Required ?? true;
    var validationAttributes = new HtmlString(Model.ValidationAttributes);
    var options = Model.Field.Options ?? new List<GovUK.Dfe.LocalSendReformPlans.Domain.Models.Option>();
    var labelClasses = Model.Field.Label.IsVisible ? "" : "govuk-visually-hidden";
}

<govuk-select 
    id="@Model.Id" 
    name="@Model.Name"
    select-required="@isRequired"
    select-validation="@validationAttributes"
    label-class="@labelClasses"
    data-field-id="@Model.Field.FieldId">
        <govuk-select-label>@Model.Field.Label.Value</govuk-select-label>
        @{
            var (hintHtml, hintClass) = MarkdownSafe.RenderHintWithClass(Model.Field.Tooltip);
        }
        <govuk-select-hint class="@hintClass">
            @Html.Raw(hintHtml)
        </govuk-select-hint>
        @if (Model.ErrorMessage != String.Empty)
        {
        <govuk-select-error-message><span class="govuk-visually-hidden">Error: </span>@Model.ErrorMessage</govuk-select-error-message>
        }
        @foreach (var opt in options)
        {
            <govuk-select-item value="@opt.Value" selected="@(Model.CurrentValue == opt.Value)">@opt.Label</govuk-select-item>
        }
</govuk-select>
