@page "/Feedback"
@using GovUK.Dfe.CoreLibs.Contracts.ExternalApplications.Models.Request
@model GovUK.Dfe.LocalSendReformPlans.Web.Pages.Feedback.IndexModel
@{
	ViewData["Title"] = "How can we help?";
}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-l">How can we help?</h1>

		<div class="govuk-form-group">
			<form method="post">
				@Html.AntiForgeryToken()
				<input type="hidden" value="@Model.ReferenceNumber" name="@nameof(Model.ReferenceNumber)"/>
				<govuk-radios name="@nameof(Model.FeedbackType)">
					<govuk-radios-fieldset>
						<govuk-radios-fieldset-legend></govuk-radios-fieldset-legend>

						@if (!ModelState.IsValid)
						{
							<govuk-radios-error-message>
								<span class="govuk-visually-hidden">Error: </span>
								You must choose an option
							</govuk-radios-error-message>
						}

						<govuk-radios-item checked="@Model.FeedbackType == UserFeedbackType.BugReport"
						                   value="@UserFeedbackType.BugReport">
							I want to report a problem with this form
						</govuk-radios-item>
						<govuk-radios-item checked="@Model.FeedbackType == UserFeedbackType.SupportRequest"
						                   value="@UserFeedbackType.SupportRequest">
							I need help with an application
						</govuk-radios-item>
						<govuk-radios-item checked="@Model.FeedbackType == UserFeedbackType.FeedbackOrSuggestion"
						                   value="@UserFeedbackType.FeedbackOrSuggestion">
							I have a comment or want to to suggest something
							<govuk-radios-item-hint>
								Feedback is anonymous and will not affect your application
							</govuk-radios-item-hint>
						</govuk-radios-item>
					</govuk-radios-fieldset>
				</govuk-radios>

				<button type="submit" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8">
					Continue
				</button>
			</form>
		</div>
	</div>
</div>
